root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# Python files
[*.py]
indent_size = 4
max_line_length = 88

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Dockerfile
[Dockerfile]
indent_size = 4

# Requirements
[requirements.txt]
indent_size = 4